<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink="/admin/quality/dashboard">
        <img src="assets/images/logo.png" alt="KUBER" class="navbar-logo-img" />
        <span class="logo-name">KUBER</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
      <ul class="float-start collapse-menu-icon">
        <li class="collapseBtn">
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons">
            <app-feather-icons [icon]="'menu'" [class]="'header-icon'"></app-feather-icons>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button mat-icon-button class="nav-notification-icons" (click)="callFullscreen()">
            <app-feather-icons [icon]="'maximize'" [class]="'header-icon'"></app-feather-icons>
          </button>
        </li>
        <!-- #END# Full Screen Button -->
        <li class="languageMenu">
          <button mat-icon-button [matMenuTriggerFor]="languagemenu" class="lang-dropdown nav-notification-icons"> @if
            (flagvalue !== undefined) {
            <img src="{{flagvalue}}" height="16">
            }
            @if (flagvalue === undefined) {
            <img src="{{defaultFlag}}" height="16">
            }</button>
          <mat-menu #languagemenu="matMenu" class="lang-item-menu">
            @for (item of listLang; track item) {
            <div class="lang-item">
              <button mat-menu-item class="dropdown-item lang-item-list"
                (click)="setLanguage(item.text, item.lang, item.flag)"
                [ngClass]="{'active': langStoreValue === item.lang}">
                <img src="{{item.flag}}" class="flag-img" height="12"> <span class="align-middle">{{item.text}}</span>
              </button>
            </div>
            }
          </mat-menu>
        </li>
        <!-- #START# SLA Notifications -->
        <li class="nav-item btnNotification" ngbDropdown>
          <button mat-icon-button [matMenuTriggerFor]="notificationMenu" class="nav-notification-icons"
            [class.has-breach]="hasBreachedNotification">
            <app-feather-icons [icon]="'bell'" [class]="'header-icon'"></app-feather-icons>
            @if (unreadCount > 0) {
              <span class="label-count" [class.bg-orange]="!hasBreachedNotification" [class.bg-red]="hasBreachedNotification">
                {{ unreadCount > 9 ? '9+' : unreadCount }}
              </span>
            }
          </button>
          <mat-menu #notificationMenu="matMenu" class="nfc-menu">
            <div class="nfc-header">
              <h5 class="mb-0">SLA Alerts</h5>
              @if (unreadCount > 0) {
                <a class="nfc-mark-as-read" (click)="markAllAsRead()">Mark all as read</a>
              }
            </div>
            <div class="nfc-dropdown">
              <ng-scrollbar style="height: 350px" visibility="hover">
                <div class="noti-list header-menu">
                  <div class="menu">
                    @if (slaNotifications.length === 0) {
                      <div class="nfc-empty">
                        <app-feather-icons [icon]="'check-circle'" [class]="'nfc-empty-icon'"></app-feather-icons>
                        <p>No active SLA alerts</p>
                        <span class="nfc-empty-sub">All NCs are within the ISO 10.2 SLA</span>
                      </div>
                    }
                    @for (notification of slaNotifications; track notification.id) {
                    <button mat-menu-item (click)="onNotificationClick(notification.nc_id)"
                      [ngClass]="[notification.status, notification.color]">
                      @if (notification.status === 'msg-unread') {
                        <span class="unread-dot" [ngClass]="notification.color"></span>
                      }
                      <span class="table-img msg-user">
                        <app-feather-icons
                          [icon]="notification.type === 'BREACHED' ? 'alert-octagon' : 'clock'"
                          [class]="'nfc-type-icon ' + notification.color">
                        </app-feather-icons>
                      </span>
                      <span class="menu-info">
                        <span class="menu-title">{{ notification.message }}</span>
                        <span class="menu-desc mt-2">
                          <app-feather-icons [icon]="'clock'" [class]="'time-icon'"></app-feather-icons>
                          {{ notification.time }}
                        </span>
                      </span>
                      <span class="nfc-close">
                        <app-feather-icons [icon]="'x'" [class]="'user-menu-icons'"></app-feather-icons>
                      </span>
                    </button>
                    }
                  </div>
                </div>
              </ng-scrollbar>
            </div>
            <div class="nfc-footer">
              <a class="nfc-read-all" routerLink="/admin/quality/nc-list">View all NCs</a>
            </div>
          </mat-menu>
        </li>
        <!-- #END# SLA Notifications -->
        <li class="nav-item user_profile">
          <button mat-button [matMenuTriggerFor]="profilemenu">
            <div class="chip dropdown-toggle" ngbDropdownToggle class="">
              <span>{{ userName }}</span>
              <span class="user_avatar_initials">{{ userInitials }}</span>
            </div>
          </button>
          <mat-menu #profilemenu="matMenu" class="profile-menu">
            <div class="noti-list">
              <div class="menu ">
                <div class="user_dw_menu">
                  <button mat-menu-item class="user-item-list">
                    <app-feather-icons [icon]="'user'" [class]="'user-menu-icons'"></app-feather-icons>Account
                  </button>
                  <button mat-menu-item class="user-item-list">
                    <app-feather-icons [icon]="'mail'" [class]="'user-menu-icons'"></app-feather-icons>Inbox
                  </button>
                  <button mat-menu-item class="user-item-list">
                    <app-feather-icons [icon]="'settings'" [class]="'user-menu-icons'"></app-feather-icons>Settings
                  </button>
                  <button mat-menu-item (click)="logout()" class="user-item-list">
                    <app-feather-icons [icon]="'log-out'" [class]="'user-menu-icons'"></app-feather-icons>Logout
                  </button>
                </div>
              </div>
            </div>
          </mat-menu>
        </li>
        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
</nav>